#root {
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */

  }

/* original logo code */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.App {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100vw;
}

.header {
  /* padding: 0 20px; */
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; /* STRETCHES TO ITS CONTAINER WIDTH */
  justify-content: space-between;
  /* max-width: 1280px; */
}
.nav-title {
  font-size: 2em;
  /* border: 1px solid red; */
  padding: 5px 15px;
} 

.nav-links {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.nav-links div {
  font-size: 1.2em;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */

}

.gallery {
  border: 1px solid red;
  padding: 10px;
}
.gallery img {
  max-width: 300px;
  margin: 5px;
}



footer {
  background-color: darkslategray;
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer div {
  padding: 0 40px;
}