#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
 
  }

/* original logo code */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */


.header {
  padding: 0 20px;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.nav-title {
  font-size: 2em;
  border: 1px solid red;
} 

.nav-links {
  display: flex;
  /* flex: 1; */
}
.nav-links h4 {
  padding: 0 10px;
  border: 1px solid red;

}

.gallery {
  border: 1px solid red;
  padding: 10px;
}
.gallery img {
  max-width: 300px;
  margin: 5px;
}



footer {
  background-color: darkslategray;
  padding: 10px;
}